html.no-js body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li:hover ul {
  visibility: visible; }
html body.inpage .container-fluid#banner {
  background: #000 url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1032/diamonds-slide.jpg) no-repeat center top;
  background-size: 100%;
  height: auto; }
  html body.inpage .container-fluid#banner .row.nav {
    position: relative;
    width: auto; }
  html body.inpage .container-fluid#banner .row.content-area {
    background: #fff;
    font-family: Merriweather, serif;
    font-size: 16px;
    line-height: 1.77778em; }
    html body.inpage .container-fluid#banner .row.content-area .container {
      padding: 80px 40px 73px 60px; }
      html body.inpage .container-fluid#banner .row.content-area .container h1 {
        color: #680000;
        font-family: Myriad Pro, Open Sans, sans-serif;
        font-size: 50px;
        letter-spacing: 0.2em;
        line-height: 1em;
        margin: 0 0 0.45em 0;
        text-transform: uppercase; }
      html body.inpage .container-fluid#banner .row.content-area .container h3 {
        color: #c69c6d;
        font-family: Myriad Pro, Open Sans, sans-serif;
        font-size: 36px; }
      html body.inpage .container-fluid#banner .row.content-area .container p {
        color: #333;
        margin: 0 0 1.5em 0; }
  html body.inpage .container-fluid#banner .row.contact {
    background: #290000;
    padding: 78px 0 145px 0; }
    html body.inpage .container-fluid#banner .row.contact .container .section-heading img {
      background: #290000; }
    html body.inpage .container-fluid#banner .row.contact .container .section-heading h3 {
      border: 3px solid #fff;
      color: #fff; }
    html body.inpage .container-fluid#banner .row.contact .container .form .col-xs-12.submit-wrap {
      text-align: center; }
      html body.inpage .container-fluid#banner .row.contact .container .form .col-xs-12.submit-wrap .submit-outer {
        border: 1px solid #fff;
        display: inline-block;
        *display: inline;
        padding: 3px;
        zoom: 1; }
        html body.inpage .container-fluid#banner .row.contact .container .form .col-xs-12.submit-wrap .submit-outer input {
          background: #290000;
          border: 1px solid #fff;
          color: #fff;
          font-family: Montserrat, sans-serif;
          font-size: 14px;
          letter-spacing: 0.85714em;
          padding: 1.14286em 6.42857em;
          text-transform: uppercase; }
          html body.inpage .container-fluid#banner .row.contact .container .form .col-xs-12.submit-wrap .submit-outer input:focus {
            outline: none; }
    html body.inpage .container-fluid#banner .row.contact .container .form .col-sm-4 img {
      background: #290000;
      left: 50%;
      margin-left: -12px;
      padding: 0 10px;
      position: absolute;
      top: -7px;
      z-index: 1; }
    html body.inpage .container-fluid#banner .row.contact .container .form .col-sm-4 .form-control {
      position: relative;
      z-index: 0; }
    html body.inpage .container-fluid#banner .row.contact .container .form .form-control {
      background: #290000;
      border: 1px solid #fff;
      border-radius: 0;
      color: #fff;
      font-family: Merriweather, serif;
      font-size: 14px;
      margin-bottom: 35px;
      padding: 1.57143em 1em; }
    html body.inpage .container-fluid#banner .row.contact .container .form textarea {
      height: 205px; }
    html body.inpage .container-fluid#banner .row.contact .container .form .requiredFieldError {
      bottom: 8px;
      color: #fff;
      font-family: Merriweather, serif;
      position: absolute; }
    html body.inpage .container-fluid#banner .row.contact .container .thankYou {
      color: #fff;
      font-family: Merriweather, serif;
      margin: 0;
      text-align: center; }
html body .container-fluid#banner > .row.nav {
  background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1040/navbg.png);
  background: rgba(0, 0, 0, 0.5);
  height: 135px; }
html body .container-fluid#banner {
  background: #000;
  height: 888px;
  overflow: hidden;
  position: relative; }
  html body .container-fluid#banner .row.nav {
    position: absolute;
    width: 100%;
    z-index: 100; }
    html body .container-fluid#banner .row.nav .container.desktop-nav {
      position: relative;
      z-index: 1; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.phone {
        height: 40px;
        position: relative; }
        html body .container-fluid#banner .row.nav .container.desktop-nav .row.phone a {
          bottom: 0;
          color: #ccc;
          font-family: Myriad Pro, Open Sans, sans-serif;
          font-size: 30px;
          font-weight: 100;
          letter-spacing: 0.055em;
          line-height: 20px;
          position: absolute;
          right: 0;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out; }
          html body .container-fluid#banner .row.nav .container.desktop-nav .row.phone a:hover {
            color: #fff;
            text-decoration: none; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav .logo {
        float: left;
        margin-left: -10px; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul {
        float: right; }
        html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li {
          float: left;
          list-style: none;
          position: relative;
          text-transform: uppercase;
          z-index: 1; }
          html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li.active > a {
            color: #fff; }
          html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li a {
            color: #ccc;
            display: inline-block;
            font-family: Montserrat, sans-serif;
            font-size: 13px;
            letter-spacing: 0.1em;
            line-height: 1em;
            opacity: 0.9;
            margin-top: 30px;
            padding: 0 12px;
            -webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
            -webkit-transition: color 0.3s ease-in-out;
            transition: color 0.3s ease-in-out; }
            html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li a:hover {
              color: #fff;
              text-decoration: none; }
          html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li.contact a {
            background: #eee;
            background: rgba(255, 255, 255, 0.7);
            color: #3b3a0c;
            letter-spacing: normal;
            line-height: 29px;
            margin: 22px 0;
            opacity: 1;
            -webkit-text-stroke: 1px rgba(59, 58, 12, 0.2);
            -webkit-transition: background 0.3s ease-in-out;
            transition: background 0.3s ease-in-out; }
            html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li.contact a:hover {
              background: rgba(255, 255, 255, 0.8); }
          html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li ul {
            background: rgba(0, 0, 0, 0.7);
            padding: 80px 10px 23px 10px;
            position: absolute;
            text-align: center;
            top: -40px;
            min-width: 100%;
            z-index: -1; }
            html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li ul:hover {
              visibility: visible; }
            html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li ul li {
              min-width: 100%; }
              html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li ul li a {
                border-bottom: 1px solid #6e6d6c;
                font-size: 12px;
                line-height: normal;
                margin-top: 0;
                padding: 25px 0;
                min-width: 82%; }
  html body .container-fluid#banner .cycle-slideshow {
    left: 50%;
    margin-left: -800px;
    position: absolute;
    top: 0;
    z-index: 0; }
    html body .container-fluid#banner .cycle-slideshow .slide {
      position: relative;
      z-index: 1; }
      html body .container-fluid#banner .cycle-slideshow .slide .caption {
        left: 0;
        position: absolute;
        text-align: center;
        top: 290px;
        width: 100%;
        z-index: 10; }
    html body .container-fluid#banner .cycle-slideshow .cycle-pager {
      bottom: 140px;
      padding-right: 60px;
      position: relative;
      text-align: right;
      z-index: 10000; }
      html body .container-fluid#banner .cycle-slideshow .cycle-pager span {
        background: #fff;
        display: inline-block;
        height: 15px;
        margin-left: 15px;
        opacity: 0.5;
        text-indent: 1000000px;
        width: 15px; }
        html body .container-fluid#banner .cycle-slideshow .cycle-pager span:hover {
          cursor: pointer; }
        html body .container-fluid#banner .cycle-slideshow .cycle-pager span.cycle-pager-active {
          opacity: 0.8; }
  html body .container-fluid#banner nav.navbar-default {
    background-color: transparent;
    border: none;
    border-color: transparent;
    border-radius: 0;
    margin: 0; }
    html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-brand {
      padding: 5px; }
      html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-brand img {
        height: auto;
        width: 170px; }
    html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-toggle {
      border-radius: 0; }
      html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-toggle:hover {
        background-color: #000; }
      html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-toggle:focus {
        background-color: #000; }
    html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-nav {
      margin: 0 -15px; }
      html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-nav li {
        font-family: Montserrat, sans-serif;
        text-transform: uppercase; }
        html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-nav li.open a {
          background-color: transparent; }
        html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-nav li.active a {
          background-color: transparent; }
        html body .container-fluid#banner nav.navbar-default .navbar-header .navbar-nav li a {
          border-bottom: 1px solid #fff;
          color: #fff; }
  html body .container-fluid#banner .next-section {
    bottom: 15px;
    left: 50%;
    margin-left: -32px;
    position: absolute;
    z-index: 100000; }
html body .container-fluid#leave-the-jones {
  background: #680000;
  color: #fff;
  padding: 114px 15px 137px 15px;
  text-align: center; }
  html body .container-fluid#leave-the-jones h3 {
    background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1004/diamond-line-border.png) no-repeat bottom center;
    font-family: Myriad Pro, Open Sans, sans-serif;
    font-size: 41px;
    margin: 0;
    padding-bottom: 1.12195em;
    text-transform: uppercase; }
  html body .container-fluid#leave-the-jones h5 {
    font-family: Merriweather, serif;
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding-top: 0.88889em; }
html body .container-fluid#footer {
  background: #290000;
  padding: 86px 15px 50px 15px; }
  html body .container-fluid#footer .col-sm-4 {
    background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1003/diamond-line-border-tan.png) no-repeat center center;
    height: 124px;
    text-align: center; }
    html body .container-fluid#footer .col-sm-4 a, html body .container-fluid#footer .col-sm-4 p {
      color: #fff;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      margin: 0;
      text-transform: uppercase; }
    html body .container-fluid#footer .col-sm-4 a:hover {
      text-decoration: none; }
    html body .container-fluid#footer .col-sm-4 img {
      display: block;
      margin: 0 auto 50px auto; }
  html body .container-fluid#footer .container#footer-icons {
    margin-top: 56px;
    text-align: center; }
    html body .container-fluid#footer .container#footer-icons img {
      margin-right: 40px; }
      html body .container-fluid#footer .container#footer-icons img:last-child {
        margin-right: 0; }
html body .container .section-heading {
  margin-bottom: 64px;
  position: relative;
  text-align: center; }
  html body .container .section-heading img {
    background: #fff;
    left: 50%;
    margin-left: -33px;
    padding: 0 15px;
    position: absolute;
    top: -14px; }
  html body .container .section-heading h3 {
    border: 3px solid #680000;
    display: inline-block;
    *display: inline;
    font-family: Myriad Pro, Open Sans, sans-serif;
    font-size: 20px;
    letter-spacing: 0.2em;
    margin: 0 auto;
    padding: 1.4em 0 0.85em 0;
    text-transform: uppercase;
    width: 230px;
    zoom: 1; }
html body .container#our-services {
  padding: 100px 15px 126px 15px; }
  html body .container#our-services .col-sm-4 {
    border: 1px solid #680000;
    height: 397px;
    margin-right: 45px;
    padding: 31px 13px 0 13px;
    text-align: center;
    width: 330px; }
    html body .container#our-services .col-sm-4.last {
      margin-right: 0; }
    html body .container#our-services .col-sm-4 img {
      max-width: 100%; }
    html body .container#our-services .col-sm-4 h4 {
      background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1018/our-services-header-border.jpg) no-repeat bottom center;
      color: #000;
      font-family: Montserrat, sans-serif;
      font-size: 13px;
      letter-spacing: 0.05em;
      padding: 37px 0 15px 0;
      text-transform: uppercase; }
    html body .container#our-services .col-sm-4 p {
      color: #680000;
      font-family: Merriweather, serif;
      font-size: 12px;
      font-weight: 700; }
    html body .container#our-services .col-sm-4 .icon {
      background: #fff;
      bottom: -18px;
      border: 1px solid #2a0000;
      left: 50%;
      margin-left: -35px;
      padding: 9px 0;
      position: absolute;
      width: 70px; }
html body .container#about-us {
  padding: 94px 15px 0 15px;
  position: relative;
  text-align: center; }
  html body .container#about-us p {
    color: #333;
    font-family: Merriweather, serif;
    font-size: 18px;
    margin: 0;
    padding: 30px 0 94px 0; }
  html body .container#about-us .down-arrow {
    border-top: 33px solid #fff;
    border-right: 33px solid transparent;
    border-left: 33px solid transparent;
    bottom: -33px;
    height: 0;
    left: 50%;
    margin-left: -33px;
    position: absolute;
    width: 0; }
    html body .container#about-us .down-arrow img {
      left: 50%;
      margin: -7px;
      position: absolute;
      top: -44px; }
html body .container#copyright {
  padding: 33px 15px 24px 15px;
  text-align: center; }
  html body .container#copyright p {
    color: #000;
    font-family: Myriad Pro, Open Sans, sans-serif;
    font-size: 13px;
    margin: 0; }
    html body .container#copyright p a {
      color: #920000;
      font-weight: bold;
      -webkit-transition: color 0.3s ease-in-out;
      transition: color 0.3s ease-in-out; }
      html body .container#copyright p a:hover {
        color: #680000;
        text-decoration: none; }

@media (max-width: 1200px) {
  html body.inpage .container-fluid#banner .row.content-area {
    font-size: 14px; }
    html body.inpage .container-fluid#banner .row.content-area .container {
      padding: 80px 15px 73px 15px; }
      html body.inpage .container-fluid#banner .row.content-area .container h1 {
        font-size: 45px; }
      html body.inpage .container-fluid#banner .row.content-area .container h3 {
        font-size: 30px; }
  html body .container#our-services .col-sm-4 {
    margin-right: 3%;
    width: 31%; }
  html body .container-fluid#banner > .row.nav {
    height: 120px; }
  html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav .logo img {
    height: 58px; }
  html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul {
    padding: 0; }
    html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li a {
      letter-spacing: normal;
      line-height: 58px;
      margin-top: 0;
      padding: 0 10px; }
    html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li.contact a {
      margin: 14px 0; } }

@media (min-width: 1200px) {
  html body .container#our-services {
    padding-left: 0;
    padding-right: 0;
    width: 1050px; } }

@media (max-width: 992px) {
  html body.inpage .container-fluid#banner {
    background-size: initial; }
  html body .container-fluid#banner > .row.nav {
    height: 90px; }
  html body .container-fluid#banner {
    height: 600px; }
    html body .container-fluid#banner .row.nav .container.desktop-nav .row.phone {
      height: 30px; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.phone a {
        font-size: 24px; }
    html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav .logo img {
      height: 40px; }
    html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul {
      padding: 0; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li a {
        font-size: 11px;
        line-height: 40px;
        padding: 0 7px; }
      html body .container-fluid#banner .row.nav .container.desktop-nav .row.nav ul li.contact a {
        line-height: 22px;
        margin: 9px 0; }
    html body .container-fluid#banner .cycle-slideshow {
      margin-left: -540px; }
      html body .container-fluid#banner .cycle-slideshow .slide .caption {
        top: 160px; }
        html body .container-fluid#banner .cycle-slideshow .slide .caption img {
          max-width: 700px; }
      html body .container-fluid#banner .cycle-slideshow .slide > img {
        height: 600px; }
  html body .container-fluid#leave-the-jones {
    padding: 90px 15px; }
    html body .container-fluid#leave-the-jones h3 {
      font-size: 30px; }
    html body .container-fluid#leave-the-jones h5 {
      font-size: 16px; }
  html body .container-fluid#footer .col-sm-4 a, html body .container-fluid#footer .col-sm-4 p {
    font-size: 12px; }
  html body .container#our-services {
    padding: 70px 15px; }
    html body .container#our-services .col-sm-4 {
      height: 350px;
      margin-right: 2%;
      width: 32%; }
      html body .container#our-services .col-sm-4.last {
        margin-right: 0; }
  html body .container#about-us {
    padding-top: 60px; }
    html body .container#about-us p {
      padding-bottom: 70px; } }

@media (max-width: 768px) {
  html body.inpage .container-fluid#banner .row.nav {
    width: auto; }
  html body.inpage .container-fluid#banner .row.content-area {
    font-size: 13px; }
    html body.inpage .container-fluid#banner .row.content-area .container {
      padding: 45px 15px 30px 15px; }
      html body.inpage .container-fluid#banner .row.content-area .container h1 {
        font-size: 35px; }
      html body.inpage .container-fluid#banner .row.content-area .container h3 {
        font-size: 24px; }
      html body.inpage .container-fluid#banner .row.content-area .container ul {
        padding-left: 30px; }
  html body .container-fluid#banner > .row.nav {
    height: auto; }
  html body .container-fluid#banner .cycle-slideshow {
    margin-left: -540px; }
    html body .container-fluid#banner .cycle-slideshow .slide .caption {
      top: 160px; }
      html body .container-fluid#banner .cycle-slideshow .slide .caption img {
        max-width: 300px; }
  html body .container-fluid#leave-the-jones h3, html body .container-fluid#leave-the-jones h5 {
    padding-left: 15px;
    padding-right: 15px; }
  html body .container-fluid#leave-the-jones h5 {
    line-height: 1.3em; }
  html body .container-fluid#footer .col-sm-4 {
    margin-bottom: 40px; }
    html body .container-fluid#footer .col-sm-4 a, html body .container-fluid#footer .col-sm-4 p {
      font-size: 12px; }
  html body .container-fluid#footer .container#footer-icons {
    margin-top: 0; }
    html body .container-fluid#footer .container#footer-icons img {
      margin-right: 25px;
      height: 70px;
      width: 70px; }
  html body .container .section-heading {
    margin-bottom: 32px; }
  html body .container#our-services {
    padding: 50px 15px; }
    html body .container#our-services .col-sm-4 {
      height: auto;
      margin: 0 auto 30px auto;
      padding: 31px 13px;
      width: 90%; }
      html body .container#our-services .col-sm-4.last {
        margin-right: auto; }
  html body .container#about-us p {
    font-size: 14px;
    padding-top: 0; } }

@media (width: 768px) {
  html body .container-fluid#banner > .row.nav {
    height: 90px; } }
