@import "bootstrap/_variables.scss";
@import "bootstrap/_mixins.scss";

$montserrat: Montserrat, sans-serif;
$myriad: Myriad Pro, Open Sans, sans-serif;
$merriweather: Merriweather, serif;

html {
	&.no-js {
		body {
			.container-fluid {
				&#banner {
					.row {
						&.nav {
							.container {
								&.desktop-nav {
									.row {
										&.nav {
											ul {
												li {
													&:hover {
														ul {
															visibility: visible;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
	body {
		&.inpage {
			.container-fluid {
				&#banner {
					background: #000 url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1032/diamonds-slide.jpg) no-repeat center top;
					background-size: 100%;
					height: auto;
					.row {
						&.nav {
							position: relative;
							width: auto;
						}
						&.content-area {
							background: #fff;
							font-family: $merriweather;
							font-size: 16px;
							line-height: 1.77777778em;
							.container {
								padding: 80px 40px 73px 60px;
								h1 {
									color: #680000;
									font-family: $myriad;
									font-size: 50px;
									letter-spacing: .2em;
									line-height: 1em;
									margin: 0 0 .45em 0;
									text-transform: uppercase;
								}
								h3 {
									color: #c69c6d;
									font-family: $myriad;
									font-size: 36px;
								}
								p {
									color: #333;
									margin: 0 0 1.5em 0;
								}
							}
						}
						&.contact {
							background: #290000;
							padding: 78px 0 145px 0;
							.container {
								.section-heading {
									img {
										background: #290000;
									}
									h3 {
										border: 3px solid #fff;
										color: #fff;
									}
								}
								.form {
									.col-xs-12 {
										&.submit-wrap {
											text-align: center;
											.submit-outer {
												border: 1px solid #fff;
												display: inline-block;
												*display: inline;
												padding: 3px;
												zoom: 1;
												input {
													background: #290000;
													border: 1px solid #fff;
													color: #fff;
													font-family: $montserrat;
													font-size: 14px;
													letter-spacing: 0.85714286em;
													padding: 1.14285714em 6.42857143em;
													text-transform: uppercase;
													&:focus {
														outline: none;
													}
												}
											}
										}
									}
									.col-sm-4 {
										img {
											background: #290000;
											left: 50%;
											margin-left: -12px;
											padding: 0 10px;
											position: absolute;
											top: -7px;
											z-index: 1;
										}
										.form-control {
											position: relative;
											z-index: 0;
										}
									}
									.form-control {
										background: #290000;
										border: 1px solid #fff;
										border-radius: 0;
										color: #fff;
										font-family: $merriweather;
										font-size: 14px;
										margin-bottom: 35px;
										padding: 1.57142857em 1em;
									}
									textarea {
										height: 205px;
									}
									.requiredFieldError {
										bottom: 8px;
										color: #fff;
										font-family: $merriweather;
										position: absolute;
									}
								}
								.thankYou {
									color: #fff;
									font-family: $merriweather;
									margin: 0;
									text-align: center;
								}
							}
						}
					}
				}
			}
		}
		.container-fluid {
			&#banner>.row.nav {
				background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1040/navbg.png);
				background: rgba(0,0,0,.5);
				height: 135px;
			}
			&#banner {
				background: #000;
				height: 888px;
				overflow: hidden;
				position: relative;
				.row {
					&.nav {
						position: absolute;
						width: 100%;
						z-index: 100;
						.container {
							&.desktop-nav {
								position: relative;
								z-index: 1;
								.row {
									&.phone {
										height: 40px;
										position: relative;
										a {
											bottom: 0;
											color: #ccc;
											font-family: $myriad;
											font-size: 30px;
											font-weight: 100;
											letter-spacing: .055em;
											line-height: 20px;
											position: absolute;
											right: 0;
											@include transition(color .3s ease-in-out);
											&:hover {
												color: #fff;
												text-decoration: none;
											}
										}
									}
									&.nav {
										.logo {
											float: left;
											margin-left: -10px;
										}
										ul {
											float: right;
											li {
												float: left;
												list-style: none;
												position: relative;
												text-transform: uppercase;
												z-index: 1;
												&.active>a {
													color: #fff;
												}
												a {
													color: #ccc;
													display: inline-block;
													font-family: $montserrat;
													font-size: 13px;
													letter-spacing: .1em;
													line-height: 1em;
													opacity: .9;
													margin-top: 30px;
													padding: 0 12px;
													-webkit-text-stroke: 1px rgba(255, 255, 255, 0.2);
													@include transition(color .3s ease-in-out);
													&:hover {
														color: #fff;
														text-decoration: none;
													}
												}
												&.contact {
													a {
														background: #eee;
														background: rgba(255,255,255,.7);
														color: #3b3a0c;
														letter-spacing: normal;
														line-height: 29px;
														margin: 22px 0;
														opacity: 1;
														-webkit-text-stroke: 1px rgba(59, 58, 12, 0.2);
														@include transition(background .3s ease-in-out);
														&:hover {
															background: rgba(255,255,255,.8);
														}
													}
												}
												ul {
													background: rgba(0,0,0,.7);
													padding: 80px 10px 23px 10px;
													position: absolute;
													text-align: center;
													top: -40px;
													min-width: 100%;
													z-index: -1;
													&:hover {
														visibility: visible;
													}
													li {
														min-width: 100%;
														a {
															border-bottom: 1px solid #6e6d6c;
															font-size: 12px;
															line-height: normal;
															margin-top: 0;
															padding: 25px 0;
															min-width: 82%;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
				.cycle-slideshow {
					left: 50%;
					margin-left: -800px;
					position: absolute;
					top: 0;
					z-index: 0;
					.slide {
						position: relative;
						z-index: 1;
						.caption {
							left: 0;
							position: absolute;
							text-align: center;
							top: 290px;
							width: 100%;
							z-index: 10;
						}
					}
					.cycle-pager {
						bottom: 140px;
						padding-right: 60px;
						position: relative;
						text-align: right;
						z-index: 10000;
						span {
							background: #fff;
							display: inline-block;
							height: 15px;
							margin-left: 15px;
							opacity: .5;
							text-indent: 1000000px;
							width: 15px;
							&:hover {
								cursor: pointer;
							}
							&.cycle-pager-active {
								opacity: .8;
							}
						}
					}
				}
				nav {
					&.navbar-default {
						background-color: transparent;
						border: none;
						border-color: transparent;
						border-radius: 0;
						margin: 0;
						.navbar-header {
							.navbar-brand {
								padding: 5px;
								img {
									height: auto;
									width: 170px;
								}
							}
							.navbar-toggle {
								border-radius: 0;
								&:hover {
									background-color: #000;
								}
								&:focus {
									background-color: #000;
								}
							}
							.navbar-nav {
								margin: 0 -15px;
								li {
									font-family: $montserrat;
									text-transform: uppercase;
									&.open {
										a {
											background-color: transparent;
										}
									}
									&.active {
										a {
											background-color: transparent;
										}
									}
									a {
										border-bottom: 1px solid #fff;
										color: #fff;
									}
								}
							}
						}
					}
				}
				.next-section {
					bottom: 15px;
					left: 50%;
					margin-left: -32px;
					position: absolute;
					z-index: 100000;
				}
			}
			&#leave-the-jones {
				background: #680000;
				color: #fff;
				padding: 114px 15px 137px 15px;
				text-align: center;
				h3 {
					background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1004/diamond-line-border.png) no-repeat bottom center;
					font-family: $myriad;
					font-size: 41px;
					margin: 0;
					padding-bottom: 1.12195122em;
					text-transform: uppercase;
				}
				h5 {
					font-family: $merriweather;
					font-size: 18px;
					font-weight: 400;
					margin: 0;
					padding-top: 0.88888889em;
				}
			}
			&#footer {
				background: #290000;
				padding: 86px 15px 50px 15px;
				.col-sm-4 {
					background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1003/diamond-line-border-tan.png) no-repeat center center;
					height: 124px;
					text-align: center;
					a, p {
						color: #fff;
						font-family: $montserrat;
						font-size: 14px;
						margin: 0;
						text-transform: uppercase;
					}
					a {
						&:hover {
							text-decoration: none;
						}
					}
					img {
						display: block;
						margin: 0 auto 50px auto;
					}
				}
				.container {
					&#footer-icons {
						margin-top: 56px;
						text-align: center;
						img {
							margin-right: 40px;
							&:last-child {
								margin-right: 0;
							}
						}
					}
				}
			}
		}
		.container {
			.section-heading {
				margin-bottom: 64px;
				position: relative;
				text-align: center;
				img {
					background: #fff;
					left: 50%;
					margin-left: -33px;
					padding: 0 15px;
					position: absolute;
					top: -14px;
				}
				h3 {
					border: 3px solid #680000;
					display: inline-block;
					*display: inline;
					font-family: $myriad;
					font-size: 20px;
					letter-spacing: .2em;
					margin: 0 auto;
					padding: 1.4em 0 0.85em 0;
					text-transform: uppercase;
					width: 230px;
					zoom: 1;
				}
			}
			&#our-services {
				padding: 100px 15px 126px 15px;
				.col-sm-4 {
					border: 1px solid #680000;
					height: 397px;
					margin-right: 45px;
					padding: 31px 13px 0 13px;
					text-align: center;
					width: 330px;
					&.last {
						margin-right: 0;
					}
					img {
						max-width: 100%;
					}
					h4 {
						background: url(http://oaklawnlandscaping-com.secure37.tivilonhost.com/media/1018/our-services-header-border.jpg) no-repeat bottom center;
						color: #000;
						font-family: $montserrat;
						font-size: 13px;
						letter-spacing: .05em;
						padding: 37px 0 15px 0;
						text-transform: uppercase;
					}
					p {
						color: #680000;
						font-family: $merriweather;
						font-size: 12px;
						font-weight: 700;
					}
					.icon {
						background: #fff;
						bottom: -18px;
						border: 1px solid #2a0000;
						left: 50%;
						margin-left: -35px;
						padding: 9px 0;
						position: absolute;
						width: 70px;
					}
				}
			}
			&#about-us {
				padding: 94px 15px 0 15px;
				position: relative;
				text-align: center;
				p {
					color: #333;
					font-family: $merriweather;
					font-size: 18px;
					margin: 0;
					padding: 30px 0 94px 0;
				}
				.down-arrow {
					border-top: 33px solid #fff;
					border-right: 33px solid transparent;
					border-left: 33px solid transparent;
					bottom: -33px;
					height: 0;
					left: 50%;
					margin-left: -33px;
					position: absolute;
					width: 0;
					img {
						left: 50%;
						margin: -7px;
						position: absolute;
						top: -44px;
					}
				}
			}
			&#copyright {
				padding: 33px 15px 24px 15px;
				text-align: center;
				p {
					color: #000;
					font-family: $myriad;
					font-size: 13px;
					margin: 0;
					a {
						color: #920000;
						font-weight: bold;
						@include transition(color .3s ease-in-out);
						&:hover {
							color: #680000;
							text-decoration: none;
						}
					}
				}
			}
		}
	}
}

@media (max-width: $screen-lg-min) {
	html {
		body {
			&.inpage {
				.container-fluid {
					&#banner {
						.row {
							&.content-area {
								font-size: 14px;
								.container {
									padding: 80px 15px 73px 15px;
									h1 {
										font-size: 45px;
									}
									h3 {
										font-size: 30px;
									}
								}
							}
						}
					}
				}
			}
			.container {
				&#our-services {
					.col-sm-4 {
						margin-right: 3%;
						width: 31%;
					}
				}
			}
			.container-fluid {
				&#banner>.row.nav {
					height: 120px;
				}
				&#banner {
					.row {
						&.nav {
							.container {
								&.desktop-nav {
									.row {
										&.nav {
											.logo {
												img {
													height: 58px;
												}
											}
											ul {
												padding: 0;
												li {
													a {
														letter-spacing: normal;
														line-height: 58px;
														margin-top: 0;
														padding: 0 10px;
													}
													&.contact {
														a {
															margin: 14px 0;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: $screen-lg-min) {
	html {
		body {
			.container {
				&#our-services {
					padding-left: 0;
					padding-right: 0;
					width: 1050px;
				}
			}
		}
	}
}

@media (max-width: $screen-md-min) {
	html {
		body {
			&.inpage {
				.container-fluid {
					&#banner {
						background-size: initial;
					}
				}
			}
			.container-fluid {
				&#banner>.row.nav {
					height: 90px;
				}
				&#banner {
					height: 600px;
					.row {
						&.nav {
							.container {
								&.desktop-nav {
									.row {
										&.phone {
											height: 30px;
											a {
												font-size: 24px;
											}
										}
										&.nav {
											.logo {
												img {
													height: 40px;
												}
											}
											ul {
												padding: 0;
												li {
													a {
														font-size: 11px;
														line-height: 40px;
														padding: 0 7px;
													}
													&.contact {
														a {
															line-height: 22px;
															margin: 9px 0;
														}
													}
												}
											}
										}
									}
								}
							}
						}
					}
					.cycle-slideshow {
						margin-left: -540px;
						.slide {
							.caption {
								top: 160px;
								img {
									max-width: 700px;
								}
							}
						}
						.slide>img {
							height: 600px;
						}
					}
				}
				&#leave-the-jones {
					padding: 90px 15px;
					h3 {
						font-size: 30px;
					}
					h5 {
						font-size: 16px;
					}
				}
				&#footer {
					.col-sm-4 {
						a, p {
							font-size: 12px;
						}
					}
				}
			}
			.container {
				&#our-services {
					padding: 70px 15px;
					.col-sm-4 {
						height: 350px;
						margin-right: 2%;
						width: 32%;
						&.last {
							margin-right: 0;
						}
					}
				}
				&#about-us {
					padding-top: 60px;
					p {
						padding-bottom: 70px;
					}
				}
			}
		}
	}
}

@media (max-width: $screen-sm-min) {
	html {
		body {
			&.inpage {
				.container-fluid {
					&#banner {
						.row {
							&.nav {
								width: auto;
							}
							&.content-area {
								font-size: 13px;
								.container {
									padding: 45px 15px 30px 15px;
									h1 {
										font-size: 35px;
									}
									h3 {
										font-size: 24px;
									}
									ul {
										padding-left: 30px;
									}
								}
							}
						}
					}
				}
			}
			.container-fluid {
				&#banner>.row.nav {
					height: auto;
				}
				&#banner {
					.cycle-slideshow {
						margin-left: -540px;
						.slide {
							.caption {
								top: 160px;
								img {
									max-width: 300px;
								}
							}
						}
					}
				}
				&#leave-the-jones {
					h3, h5 {
						padding-left: 15px;
						padding-right: 15px;
					}
					h5 {
						line-height: 1.3em;
					}
				}
				&#footer {
					.col-sm-4 {
						margin-bottom: 40px;
						a, p {
							font-size: 12px;
						}
					}
					.container {
						&#footer-icons {
							margin-top: 0;
							img {
								margin-right: 25px;
								height: 70px;
								width: 70px;
							}
						}
					}
				}
			}
			.container {
				.section-heading {
					margin-bottom: 32px;
				}
				&#our-services {
					padding: 50px 15px;
					.col-sm-4 {
						height: auto;
						margin: 0 auto 30px auto;
						padding: 31px 13px;
						width: 90%;
						&.last {
							margin-right: auto;
						}
					}
				}
				&#about-us {
					p {
						font-size: 14px;
						padding-top: 0;
					}
				}
			}
		}
	}
}
@media (width: $screen-sm-min) {
	html {
		body {
			.container-fluid {
				&#banner>.row.nav {
					height: 90px;
				}
			}
		}
	}
}